Jequetta Shearer is no longer interested in Customer Service Representative I at US Tech Solutions.<br><br>
<a href="https://employers.indeed.com/c#candidates/view?id=ba07e8c6db62">You can update their status here</a>.